/* Background and Text Styles */
body {
    background-color: #000;
    color: #fff;
    opacity: 1;
    transition: opacity 3s;
}

/* Content Container Styles */
.content-container {
    transform: scale(0.8);
    transition: all 1s ease-in-out;
    padding-top: 20%;
    padding-bottom: 5% !important;
    opacity: 0;
}

.content-container:hover {
    transform: scale(0.85);
}

/* Description Styles */
.description {
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 10px;
    font-family: 'purista-web', Arial, Helvetica, sans-serif;
    font-size: x-large;
    text-align: center;
    padding-top: 60%;
    padding-bottom: auto;
    height: 100vh;
}

/* Frosted Glass Background */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(100px);
    background: rgba(0, 0, 0, 0.3);
    z-index: -1;
}

/* Hello Text Styles */
.hello-text {
    font-family: 'sui-generis', Arial, Helvetica, sans-serif;
    color: #fff;
    text-align: center;
    margin-top: 5%;
    position: fixed;
    top: 50%;
    left: 47%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

/* Navbar Styles */
.navbar {
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(10px) !important;
    font-family: 'sui-generis', Arial, Helvetica, sans-serif;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    padding-left: 10%;
    padding-right: 16%;
    padding-top: 2%;
}

.navbar-dark .navbar-brand img {
    max-width: 100px;
}

.navbar-dark .navbar-nav .nav-link {
    color: #bcbcbc;
    padding-left: 2%;
}

.nav-item {
    padding: 5%;
    transform: scale(1);
}

.nav-link:hover {
    color: white !important;
    transition: 1s;
    transform: scale(1.1);
}

/* Noise Overlay */
body::after {
    content: "";
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://www.transparenttextures.com/patterns/tactile-noise-light.png');
    opacity: 0.2;
}

/* Swiper Styles */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0px;
    bottom: 0px;
    height: 70vh;
    width: 100vw;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Title Styles */
.title {
    font-family: 'rigid-square', Arial, Helvetica, sans-serif;
    font-size: xx-large;
    color: #fff;
    text-align: center;
}

/* Add your custom styles below this comment */

