
$primary: $pink;
$dark: $black;
$body-bg: $black;
$body-color: $gray-100;
$font-family-sans-serif: purista-web, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$success: $cyan;
$danger: $pink;
$jumbotron-bg: $gray-900;
$table-dark-color: $black;
$table-head-color: $gray-100;
$table-dark-accent-bg: rgba($black, .05);
$table-dark-bg: $gray-100;
$enable-rounded: false;
$headings-font-family: sui-generis, purista-web, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$card-bg: $gray-900;
$list-group-bg: $gray-900;
$modal-content-bg: $gray-900;
$progress-bar-animation-timing: 0.1s linear infinite;
$progress-bar-transition: width .2s ease;