.cd-words-wrapper {
    display: inline-block;
    position: relative;
    text-align: left;
    font-size: inherit;
  }
  
  .cd-words-wrapper b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0;
  }
  
  .blc {
    font-size: 70px;
  }
  
  .cd-words-wrapper b.is-visible {
    position: relative;
  }
  
  .cd-headline.clip span {
    display: inline-block;
    padding: .2em 0;
  }
  
  .cd-headline.clip .cd-words-wrapper {
    overflow: auto;
    vertical-align: top;
  }
  
  .cd-headline.clip b {
    opacity: 0;
  }
  
  .cd-headline b.is-visible {
    opacity: 1;
    font-weight: 900;
  }
  
  .text-white {
    /*color: #000000!important;*/
  }
  
  body {
    font-family: 'purista-web';
    font-size: 1.5rem;
    color: #000000;
    background-color: #000000;
  }
  
  .text-center {
    /*text-align: left!important;*/
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: sui-generis;
    font-weight: 800!important;
  }
  

  
  article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
  }
  
  .footer {
    position: sticky!important;
    width: 100%;
    left: 0;
    bottom: 0;
    color: maroon;
    text-align: center;
    background-color: green;
    padding-bottom: 0rem!important;
  }
  
  .text-pink {
    color: #ffffff;
  }
  
  h3 {
    font-family: 'purista-web';
    color: rgb(0,0,0);
  }
  @media (max-width: 600px) {
    .w-100{
      margin-top: 0%;
      margin-left: 15%;
      margin-right: 15%;
      font-size: medium!important;
    }
    p{
      font-size: small!important;
    }
    h2,h3,h4,h5,h6{
      font-size: medium!important;
    }
    .display-4 {
      font-size: 20px;
    }
    .display-6 {
      margin-top: 0%;
    }
  }
  
  @media (max-height: 300px) {
    .w-100{
      margin-top: 30%;
      font-size: 8px!important;
    }
    p{
      font-size: x-small!important;
    }

    h1,h2,h3,h4,h5,h6{
      font-size: x-small!important;
    }
  }
  @media (max-height: 900px) {
    .w-100{
      margin-top: 20%;
      font-size: small!important;
    }
    p{
      font-size: small!important;
    }

    h1,h2,h3,h4,h5,h6{
      font-size: medium!important;
    }
  }
  
  
  .intro {
  }
  
  @media (min-width: 400px) {
    .flex-grow-1 {
      height: 500px!important;
    }
  }

  @media (min-width: 00px) {
    .btn {
      margin-bottom: 10px;
    }
  }
  
   
  @media (min-width: 300px) {
    .small {
      font-size: 14px;
    }
    .flex-grow-1 {
      height: 200px;
    }
  }
  
  .name {
    font-family: sui-generis;
    color: rgb(0,0,0);
  }
  
  :root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #868e96;
    --gray-dark: #000000;
    --primary: #ee0979;
    --secondary: #ff6a00;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #000000;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  }
  
  :root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #868e96;
    --gray-dark: #343a40;
    --primary: #ee0979;
    --secondary: #ff6a00;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  }
  
  :root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #868e96;
    --gray-dark: #343a40;
    --primary: #ee0979;
    --secondary: #ff6a00;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  }
  
  .img-fluid:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 20px #000000;
  }
  
  .img-fluid:hover {
    color: #ffee10;
    box-shadow: 0 0 20px rgba(220,2,255,0.35);
    transform: scale(1.1);
  }
  
  .img-fluid {
    transition: .75s;
  }
  
  .nav-link:hover {
    text-shadow: 0 0 5px #ffffff;
  }
  
    .nav-link {
    transition: 1s;
  }
  
  .navbar-brand {
    transition: 1s;
  }
  
  .navbar-brand {
    transition: 1s;
  }
  .nav-item {
    font-family: sui-generis; 
    font-weight: 800;
    text-transform:uppercase;
    font-size:12px;
    margin-left: 2%;
  }
  
  @keyframes animateBar {
    0% {
      /*background-position: 0% 0%;*/
    }
    100% {
      /*background-position: 0% 100%;*/
    }
    50% {
      background-position: 100% 50%;
    }
  }
  
  .bar {
    position: fixed;
    animation: animateBar 1s linear infinite;
    background-image: linear-gradient(0deg,#5cc1cf,#c14aae,#5cc1cf);
    background-size: 100% 1100%;
    height: 8vh;
    width: 100%;
    z-index: 4;
  }
  
  &::after {
    position: absolute;
    content: "";
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient( 60deg, hsl(224, 85%, 66%), hsl(269, 85%, 66%), hsl(314, 85%, 66%), hsl(359, 85%, 66%), hsl(44, 85%, 66%), hsl(89, 85%, 66%), hsl(134, 85%, 66%), hsl(179, 85%, 66%) );
    background-size: 300% 300%;
    background-position: 0 50%;
    animation: banimateBar 1s alternate infinite;
  }
  
  .name {
    height: 38.4px;
  }
  
  h2 {
    font-size: 24px;
    text-align: left;
  }
  
  h2 {
    color: black !important;
  }
  
  p {
    text-align: left;
  }
  
  h1 {
    /*color: black !important;*/
  }
  
  .date {
    font-family: 'purista-web';
  }
  
  a {
  }
  
  span {
    font-family: 'purista-web';
  }
  
  p {
    font-family: 'purista-web';
  }
  
  @media (min-width: 1200px) {
    .article-clean {
      /*margin-right: 395px;*/
      /*margin-left: 395px;*/
    }
  }
  
.lead {
    text-align: center;
}

.btn-sect {
    margin-top: 2%;
}
  























  .article-list {
    color: #313437;
    background-color: #fff;
  }
  
  .article-list p {
    color: #7d8285;
    font-size: 1.5rem;
  }
  
  .article-list h2 {
    font-weight: bold;
    margin-bottom: 40px;
    padding-top: 40px;
    color: inherit;
  }
  
  @media (max-width:767px) {
    .article-list h2 {
      margin-bottom: 25px;
      padding-top: 25px;
      font-size: 24px;
    }
  }
  
  .article-list .intro {
    font-size: 16px;
    max-width: 500px;
    margin: 0 auto;
  }
  
  .article-list .intro p {
    margin-bottom: 0;
  }
  
  .article-list .articles {
    padding-bottom: 40px;
  }
  
  .article-list .item {
    padding-top: 50px;
    min-height: 425px;
    text-align: center;
  }
  
  .article-list .item .name {
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
    color: inherit;
  }
  
  .article-list .item .description {
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 0;
  }
  
  .article-list .item .action {
    font-size: 24px;
    width: 24px;
    margin: 22px auto 0;
    line-height: 1;
    display: block;
    color: #4f86c3;
    opacity: 0.85;
    transition: opacity 0.2s;
    text-decoration: none;
  }
  
  .article-list .item .action:hover {
    opacity: 1;
  }
  
  .swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;

  }
  

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: auto;
    height: 100vh;

  }

  .swiper-container {
    width: 100%;
    height: 100vh;
  }
  .swiper-button-next{
      color:#ffffff;
  }
  .swiper-button-prev{
      color:#ffffff;
  }

    
  @media (max-width:720px) {
    .swiper-pagination-bullet {
        animation: animateBar 1s linear infinite;
        background-image: linear-gradient(0deg,#5cc1cf,#c14aae,#5cc1cf);
        background-size: 100% 1100%;
        border-radius: 0px;
        width: 3%!important;
        height: 20px;
        z-index: 9999;
    }}
    
    .swiper-pagination-bullet {
        animation: animateBar 1s linear infinite;
        background-image: linear-gradient(0deg,#5cc1cf,#c14aae,#5cc1cf);
        background-size: 100% 1100%;
        border-radius: 0px;
        width: 8%;
        height: 2px;
        z-index: 9999;
    }

    .swiper-button-next{
        color:#ffffff;
    }
    .swiper-button-prev{
        color:#ffffff;
    }
  












  .video-background-holder {
    position: relative;
    background-color: black;
    height: calc(100vh);
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
    pointer-events:auto;
  }
  
  .video-background-holder-b {
    position: relative;
    background-color: black;
    height: calc(100vh  );
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
    pointer-events:auto;
  }
  
  .video-background-holder video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    pointer-events:auto;
  }
  
  .video-background-holder-b video {
    pointer-events:auto;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 90%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  .video-background-content {
    position: relative;
    z-index: 2;
    pointer-events:auto;
  }
  
  .video-background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.75;
    z-index: 1;
    pointer-events:auto;
  }
  
  .video-background-overlay-b {
    position: absolute;
    top: 0;
    left: 0;
    height: 90%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
    pointer-events:auto;
  }

  






  .article-clean {
    color: #56585b;
    background-color: #fff;
    font-family: 'Lora', serif;
    font-size: 14px;
  }
  
  .article-clean .intro {
    font-size: 16px;
    margin: 0 auto 30px;
  }
  
  .article-clean .intro h1 {
    font-size: 32px;
    margin-bottom: 15px;
    padding-top: 20px;
    line-height: 1.5;
    color: inherit;
    margin-top: 20px;
  }
  
  .article-clean .intro p {
    color: #929292;
    font-size: 12px;
  }
  
  .article-clean .intro p .by {
    font-style: italic;
  }
  
  .article-clean .intro p .date {
    text-transform: uppercase;
    padding: 4px 0 4px 10px;
    margin-left: 10px;
    border-left: 1px solid #ddd;
  }
  
  .article-clean .intro p a {
    color: #333;
    text-transform: uppercase;
    padding-left: 3px;
  }
  
  .article-clean .intro img {
    margin-top: 20px;
  }
  
  .article-clean .text p {
    margin-bottom: 20px;
    line-height: 1.45;
  }
  
  @media (min-width:768px) {
    .article-clean .text p {
      font-size: 16px;
    }
  }
  
  .article-clean .text h2 {
    margin-top: 28px;
    margin-bottom: 20px;
    line-height: 1.45;
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
  @media (min-width:768px) {
    .article-clean .text h2 {
      font-size: 20px;
    }
  }
  
  .article-clean .text figure {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  
  .article-clean .text figure img {
    margin-bottom: 12px;
    max-width: 100%;
  }
